In [ ]:
# Devon's presentation: used 'isin' method 
#talk about connecting to databases  - snipytool 

#the at. method used like 'loc'

In [2]:
import pandas as pd

df = pd.read_csv("/Users/bianca/Documents/GitHub/DAT-10-14/class material/Unit3/data/advertising.csv", usecols=['TV', 'radio', 'newspaper', 'sales'])

In [16]:
df.shape

(200, 4)

In [18]:
df.head()

      TV  radio  newspaper  sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

In [ ]:
#Features/Covariates/Predictors = x
#Target - Outcome/Response = y

In [6]:
df['TV'].mean()

147.0425

In [23]:
tv_change = df['TV']-df['TV'].mean()

In [26]:
numerator = (tv_change**2).sum()

In [68]:
n = df.shape[0]

In [69]:
numerator/(n-1)

7370.94989321608

In [70]:
variance = numerator/(n-1)

In [71]:
variance**0.5

85.85423631490808

In [72]:
df['TV'].var()

7370.949893216087

In [73]:
df['TV'].std()

85.8542363149081

In [74]:
differences_r = (df['radio']-df['radio'].mean())

In [75]:
squared_r = differences_r**2

In [76]:
agg_r=squared_r.sum()

In [77]:
agg_r/(n-1)

220.42774271356785

In [78]:
df['radio'].var()

220.4277427135678

In [ ]:
#central expected value is the mean
#dispersion is the distribution from the central mean 
#total summation of differences between every point

In [ ]:
#variance is total dispersion for column but not scaled

In [ ]:
#from the mean, one standard deviation on either side, ~66% of the time, the value will be within the mean + sd and mean -sd range

In [ ]:
#1.96 standard deviations each way from teh mean is effectively the 95% confidence interval

In [ ]:
#covariance - how one variable swang affects how the target swung

In [79]:
diff_tv = df['TV']-df['TV'].mean()
diff_r = df['radio']-df['radio'].mean()

In [80]:
agg = diff_tv*diff_r

In [85]:
tv_radio_cov = agg.sum()/(n-1)

In [83]:
df.cov()

                    TV       radio   newspaper       sales
TV         7370.949893   69.862492  105.919452  350.390195
radio        69.862492  220.427743  114.496979   44.635688
newspaper   105.919452  114.496979  474.308326   25.941392
sales       350.390195   44.635688   25.941392   27.221853

In [ ]:
#the more consistently they move in the same direction , the covariance will be larger
#the more the move in opp directions, the cov will be smaller
#if move in opp directoins, will be closer to zero

In [84]:
#sigma is the same thing as standard deviation
#correlation = covariance between two columns and divide it by the standard deviations of the two columns

In [86]:
tv_radio_cov/(df['TV'].std()*df['radio'].std())

0.054808664465830076

In [87]:
df.corr()

                 TV     radio  newspaper     sales
TV         1.000000  0.054809   0.056648  0.782224
radio      0.054809  1.000000   0.354104  0.576223
newspaper  0.056648  0.354104   1.000000  0.228299
sales      0.782224  0.576223   0.228299  1.000000