<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Project 2: Analyzing Chipotle Data

_Author: Joseph Nelson (DC)_

---

For Project 2, you will complete a series of exercises exploring [order data from Chipotle](https://github.com/TheUpshot/chipotle), compliments of _The New York Times'_ "The Upshot."

For these exercises, you will conduct basic exploratory data analysis (Pandas not required) to understand the essentials of Chipotle's order data: how many orders are being made, the average price per order, how many different ingredients are used, etc. These allow you to practice business analysis skills while also becoming comfortable with Python.

---

## Basic Level

### Part 1: Read in the file with `csv.reader()` and store it in an object called `file_nested_list`.

Hint: This is a TSV (tab-separated value) file, and `csv.reader()` needs to be told [how to handle it](https://docs.python.org/2/library/csv.html).

In [2]:
import csv
from collections import namedtuple   # Convenient to store the data rows
import numpy as np
import pandas as pd

DATA_FILE = './data/chipotle.tsv'

In [7]:
df = pd.read_csv(DATA_FILE, sep = '	')

df[:10]

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [ ]:
df.dtypes
df['true price'] = df.item_price.to_numeric()

In [ ]:
df

### Part 2: Separate `file_nested_list` into the `header` and the `data`.

---

## Intermediate Level

### Part 3: Calculate the average price of an order.

Hint: Examine the data to see if the `quantity` column is relevant to this calculation.

Hint: Think carefully about the simplest way to do this!

In [6]:
df.groupby('order_id')['item_price'].sum()

order_id
1                        $2.39 $3.39 $3.39 $2.39
2                                         $16.98
3                                   $10.98 $1.69
4                                   $11.75 $9.25
5                                    $9.25 $4.45
6                                    $8.75 $8.75
7                                   $11.25 $4.45
8                                    $2.39 $8.49
9                                    $8.49 $2.18
10                                   $8.75 $4.45
11                                   $8.99 $3.39
12                                  $10.98 $3.39
13                                   $2.39 $8.49
14                                   $8.99 $1.09
15                                   $8.49 $2.39
16                                   $8.99 $1.69
17                                   $8.99 $1.09
18                       $8.75 $8.75 $4.45 $2.95
19                                  $11.75 $2.15
20                     $4.45 $11.25 $11.75 $8.75
21                            $10.98 $8.99 $3.39
22                                   $8.99 $3.99
23                                   $8.99 $2.18
24                                  $10.98 $1.09
25                                   $8.99 $2.39
26                                  $9.25 $11.25
27                                  $11.75 $2.15
28                      $4.45 $9.25 $11.25 $8.75
29                                   $8.99 $8.99
30                            $3.39 $8.99 $10.98
                          ...
1805                                $11.25 $8.75
1806                     $1.50 $8.75 $1.50 $1.25
1807                                 $9.25 $9.39
1808                                 $4.45 $9.25
1809                           $8.75 $4.45 $1.25
1810                               $11.25 $11.75
1811                          $8.75 $11.25 $9.25
1812                          $8.75 $11.25 $2.50
1813                                      $17.50
1814                                 $9.25 $4.45
1815                                $11.25 $1.25
1816                                 $8.75 $4.45
1817                     $1.50 $8.75 $1.50 $1.25
1818                                 $9.39 $8.75
1819                                 $8.75 $4.45
1820                                $11.25 $1.25
1821                                 $9.25 $4.45
1822                          $11.25 $8.75 $3.00
1823                           $8.75 $2.15 $1.25
1824                         $11.25 $11.25 $4.45
1825    $11.25 $11.25 $8.75 $11.75 $11.75 $11.75
1826                     $8.75 $4.45 $1.25 $1.50
1827               $8.75 $4.45 $1.25 $9.25 $9.25
1828                           $8.75 $4.45 $1.25
1829                         $11.75 $11.25 $1.25
1830                               $11.75 $11.25
1831                           $9.25 $2.15 $1.50
1832                                 $8.75 $4.45
1833                               $11.75 $11.75
1834                          $11.25 $8.75 $8.75
Name: item_price, Length: 1834, dtype: object

### Part 4: Create a list (or set) named `unique_sodas` containing all of unique sodas and soft drinks that Chipotle sells.

Note: Just look for `'Canned Soda'` and `'Canned Soft Drink'`, and ignore other drinks like `'Izze'`.

---

## Advanced Level

### Part 5: Calculate the average number of toppings per burrito.

Note: Let's ignore the `quantity` column to simplify this task.

Hint: Think carefully about the easiest way to count the number of toppings!

### Part 6: Create a dictionary. Let the keys represent chip orders and the values represent the total number of orders.

Expected output: `{'Chips and Roasted Chili-Corn Salsa': 18, ... }`

Note: Please take the `quantity` column into account!

Optional: Learn how to use `.defaultdict()` to simplify your code.

---

## Bonus: Craft a problem statement about this data that interests you, and then answer it!